.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 100s linear;
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.hidden {
   display:none; 
  }

.link-button {
  align-items: normal;
  background-color: rgba(0,0,0,0);
  border-color: rgb(0, 0, 238);
  border-style: none;
  box-sizing: content-box;
  color: rgb(0, 0, 238); 
  cursor: pointer;
  display: inline;
  font: inherit;
  font-weight: bold;
  height: auto;
  padding: 0;
  perspective-origin: 0 0;
  text-align: start;
  text-decoration: underline;
  transform-origin: 0 0;
  width: auto;
  -moz-appearance: none;
  -webkit-logical-height: 1em; /* Chrome ignores auto, so we have to use this hack to set the correct height  */
  -webkit-logical-width: auto; /* Chrome ignores auto, but here for completeness */
}
  
.link-button:hover,
.link-button:focus,
.link-button:visited {
  color: #663366;
  outline-width: 1px;
}

.paper {
  width: 40%;
  display: inline-block;
  margin: 2%;
  border: 1px black solid;
  padding: 4px;
  align-content: center;
}

.deets {
  background: #d2d3d4;  
  margin: 1em;
  border: 4px black solid;
  padding: 1em;
}

form {
  background: darkgray;
  margin: 4px;
  border: 4px black solid;
  padding: 4px;
  align-content: center
}

.container {
  background: #ced5d6
}



