

.hidden {
   display:none; 
  }

.link-button {
  align-items: normal;
  background-color: rgba(0,0,0,0);
  border-color: rgb(0, 0, 238);
  border-style: none;
  box-sizing: content-box;
  color: rgb(0, 0, 238); 
  cursor: pointer;
  display: inline;
  font: inherit;
  font-weight: bold;
  height: auto;
  padding: 0;
  perspective-origin: 0 0;
  text-align: start;
  text-decoration: underline;
  transform-origin: 0 0;
  width: auto;
  -moz-appearance: none;
  -webkit-logical-height: 1em; /* Chrome ignores auto, so we have to use this hack to set the correct height  */
  -webkit-logical-width: auto; /* Chrome ignores auto, but here for completeness */
}
  
.link-button:hover,
.link-button:focus,
.link-button:visited {
  color: #663366;
  outline-width: 1px;
}

.paper {
  width: 40%;
  display: inline-block;
  margin: 1%;
  border: 2px black solid;
  padding: 4px;
  background: darkgray !important;
  vertical-align: top;
}

.deets {
  background: #d2d3d4;  
  margin: 1em;
  border: 4px black solid;
  padding: 1em;
}

.container {
  background: #ced5d6;
  justify-content: center; 
}

form {
  background: darkgray;
  margin: 4px;
  border: 4px black solid;
  padding: 18px;
  text-align: left;
  line-height: 2;
  overflow: auto;
}

img {
  float: left;
  background: darkgray;
  margin: 4px;
  border: 5px black solid;
  padding: 0px;
}



